
<div class="container about">
      <h1>About Us</h1>
    <iframe src="//player.vimeo.com/video/51746553" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            <p class="lead">OUR COMPANY</p>
      <div class="row">
        <div class="col-md-6">
          <company>
            <p>AudioApps is a technology startup that develops mobile solutions for art and culture. We develop a platform where anyone easily can create and monitor their own guiding application. We support our customers throughout the digitization process; from creating beautiful content to mobile communication with their visitors. <br><br> While the world has gone digital, many art and culture institutions have not taken advantage of this development. A mobile application is a cheaper and better alternative to old audioguiding equipment and gives the visitors guided tours using audio, images and videos. It also gives you the most effective communication channel today and you can send instant messages to all your visitors.  </p>
 
          </company>
        
        </div>
      </div>
    </div> <!-- end container -->
      <br>
<div class="container">

      <div class="container-fluid">
          <h1>Some of our earlier projects</h1>
          <div class="row">
            <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Färgfabriken" href="#"><img class="thumbnail img-responsive" src="img/ff.png"></a></div>
            <div class="col-lg-3 col-sm-4 col-xs-6"><a title="SlowArt" href="#"><img class="thumbnail img-responsive" src="img/slowart.png"></a></div>
            <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Borås Konst" href="#"><img class="thumbnail img-responsive" src="img/boras.png"></a></div>
            <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Konstakademien" href="#"><img class="thumbnail img-responsive" src="img/ka.png"></a></div>
            <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Retellx" href="#"><img class="thumbnail img-responsive" src="img/retellx.png"></a></div>
            <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Sveriges Elevkårer" href="#"><img class="thumbnail img-responsive" src="img/se.png"></a></div>
            <div class="col-lg-3 col-sm-4 col-xs-6"><a title="Thielska galleriet" href="#"><img class="thumbnail img-responsive" src="img/thielska.png"></a></div>
          </div>
      </div>
      <div class="modal" id="myModal" role="dialog">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal">x</button>
          <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body">
          <div id="modalCarousel" class="carousel">
                <div class="carousel-inner"></div>
                <a class="carousel-control left" href="#modalCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a class="carousel-control right" href="#modalCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
        </div>
      </div> <!-- end modal -->