
    <div class="container form">
        <form>
        <h1> Tell us what you need and we'll get back to you!</h1><br>

        <div class="col-lg-4">
            <input class="form-control input-lg" type="text" placeholder="Your name"><br>
        </div>
        <div class="col-lg-4">
          <input class="form-control input-lg" type="text" placeholder="Your email address"><br>
        </div>
        <div class="col-lg-4">
            <input class="form-control input-lg" type="text" placeholder="Your phone number"><br>
        </div>
        <div class="col-xs-12">
          <p> We are a:</p>
          <select class="form-control">
            <option>Choose one</option>
            <option>Museum</option>
            <option>Conference/Fair</option>
            <option>University</option>
            <option>Municipality</option>
            <option>Other</option>
          </select>
        </div>
        <div class="col-xs-12">
        <br><p> We are interested in the following services:
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="Production"> Production
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="App developemnt"> App development
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="Marketing"> Marketing
          </label>
        </div> <br><br>
        <div class="col-xs-12">
          <br><p> Tell us more about your project. What are you planning to do, when do you need your app, where are you located etc. 
          <textarea class="form-control" rows="3"></textarea>
        </div>
          <br><input type="submit" value="Submit">
      </form>

        <br>
        <hr class="featurette-divider">
        <h1>Contact Us</h1>
        <p class="lead">Call our 24-hour support line, or drop us an email 
          with any of your questions and we'll respond promptly!</p>
          <div class="row">
            <div class="col-md-6">
              <address>
                <strong>AudioApps</strong><br>
                Idungatan 4<br>
                Stockholm<br>
                Phone: +46 707384992
              </address>
              <address>
                <p>
                  <span class="glyphicon glyphicon-envelope"></span>
                  &nbsp;&nbsp;<strong>General Contact:</strong>&nbsp;
                  <a href="mailto:contact@audioapps.se">contact@audioapps.se</a>
                </p>
                <p>
                  <span class="glyphicon glyphicon-earphone"></span>
                  &nbsp;&nbsp;<strong>Customer Support:</strong>&nbsp;
                  <a href="mailto:support@audioapps.se">support@audioapps.se</a>
                </p>
                <p>
                  <span class="glyphicon glyphicon-briefcase"></span>
                  &nbsp;&nbsp;<strong>Job Inquiries:</strong>&nbsp;
                  <a href="mailto:jobs@audioapps.se">jobs@audioapps.se</a>
                </p>       
              </address>        
            </div>
          </div>
        </div> <!-- end container -->