
  <body data-spy="scroll" data-target=".navbar-example">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/sv_SE/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><img src="/img/AA_Logo.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class>
              <a href="#process">Process</a>
            </li>
            <li class>
              <a href="#team">Team</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="content.html">Content Production</a></li>
                <li><a href="development.html">App Development</a></li>
                <li><a href="marketing.html">Marketing</a></li>
              </ul>
            </li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <button type="submit" href="http://cms.audioapps.se" class="btn btn-success">Log in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div><!--/end navbar -->


      <div class="container-fluid"> 
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="/img/splash.jpg" alt="AudioApps">
              <div class="carousel-caption">
                <h1>AudioApps</h1>
                <p><strong>Mobile Guides to Art and Culture </strong><div id="shadow">We are the number one producer of mobile guides for museums, institutions, city tours, exhibitions, you name it. With us you get the only tool you need to stay up to date with your visitors and boost their experience!</div></p>
                <p><a href="contact.html" class="btn btn-primary btn-lg" role="button">Sign up today &raquo;</a></p>
              </div>
            </div>
            <div class="item">
              <img src="/img/snap.jpg" alt="Social Media">
              <div class="carousel-caption">
                <h1>Get social!</h1>
                <p></strong><div id="shadow">With your own app you will start getting heard in social media. Let your visitors share their experience with their friends.</div></p>
                <p><a href="marketing.html" class="btn btn-primary btn-lg" role="button">Read more &raquo;</a></p>
              </div>
            </div>
            <div class="item">
              <img src="/img/girl.jpg" alt="App">
              <div class="carousel-caption">
                <h1>Go mobile!</h1>
                <p></strong><div id="shadowblack">You easily control your application. Share events, upload new guided tours, or send out messages to your visitors instantly!</div></p>
                <p><a href="development.html" class="btn btn-primary btn-lg" role="button">Read more &raquo;</a></p>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>

      </div> <!-- end container and carousel -->


      <!-- Three columns of text and Twitter below the carousel -->
      <div class="container anchor" id="process">
        <div class="row" id="indexbubbles">
          <div class="col-lg-3">
            <img class="img-circle" src="/img/content.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>Production</h2>
            <p>We know what your app needs to look and feel great. Let us take care of the production of your app content, including manuscript writing, voice recordings, video recordings, translations, voice overs, and more. Check out our pool of professional and celebrity voices to give your guide some star power!</p>
            <p><a class="btn btn-default" href="content.html" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3">
            <img class="img-circle" src="/img/technology.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>App Development</h2>
            <p>It has never been easier than with us to get your own mobile application. We develop applications that suit your needs and make sure that the technology is of highest quality through our skilled team of programmers and clever technical solutions. Choose your features and start making your application right away! </p>
            <p><a class="btn btn-default" href="development.html" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-3">
            <img class="img-circle" src="/img/marketing.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>Marketing</h2>
            <p>Once you have your application up and running, it is time to start marketing. We help you through the jungle of online marketing and make sure your application gets the audience it deserves. Using Search Engine Optimisation and location-based marketing we boost your presence both online and in the app stores</p>
            <p><a class="btn btn-default" href="marketing.html" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
            <div class="col-lg-3">
            <a class="twitter-timeline" href="https://twitter.com/AudioApps" data-widget-id="494124751577550848">Tweets av @AudioApps</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->
      </div><!-- end container -->

      <div class="container" id="products">
        <%= @featured_product.image_url %>
        <br>
        <%= @featured_product.name %>
        <br>
        <%= @featured_product.description %>
        <br>
        <%= @featured_product.price %>        
      </div>
  

<!-- parallax #1 -->

      <div class="row-fluid parallax col-lg-12" data-stellar-background-ratio="0.5">
        <h2><i>"With AudioApps we took our exhibition to the next level."</i></h2>

      </div> 

      <div class="container content-box team anchor" id="team">
        <div class="row">
          <div class="col-md-4">
            <h2>This is who we are.</h2><br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
              <img src="/img/tim.jpg">
              <h3>Tim</h3>
              <p><span class="glyphicon glyphicon-user"></span> CEO</p>
              <p></p>
          </div>
          <div class="col-md-4">
            <img src="/img/klas.jpg">
            <h3>Klas</h3>
            <p><span class="glyphicon glyphicon-user"></span> Allt-i-allo, co-founder</p>
            <p></p>
          </div>
          <div class="col-md-4">
            <img src="/img/ludvig.jpg">
            <h3>Ludvig</h3>
            <p><span class="glyphicon glyphicon-user"></span> CTO, co-founder</p>
            <p></p>
         </div>


        </div>
      </div> <!-- end team container -->

      <!-- Parallax #2 -->

      <div class="row-fluid parallax" data-stellar-background-ratio="0.5">
        <h2><i>"Finally we could promote our events during the conference in real time."</i></h2>
      </div> 
